@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@100&display=swap");

$main-color: rgb(190, 220, 229);
$special-font: "pt sans", "roboto", "arial, sans-serif";
$default-font: arial, sans-serif;
